:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;

  --colour-primary: #000000;
  --colour-primary-a: #00000070;
  --colour-secondary: #854836;
  --colour-secondary-a: #85483670;
  --colour-tertiary: #FFB22C;
  --colour-tertiary-a: #FFB22C70;
  --colour-quaternary: #F7F7F7;
  --colour-quaternary-a: #F7F7F770;
  --colour-validation-correct: #008000;
  --colour-validation-error: #ff0000;

  color-scheme: light dark;
  color: var(--colour-quaternary);
  background-color: var(--colour-primary);

  --border-dark: 1px solid var(--colour-secondary);
  --border-light: 1px solid var(--colour-tertiary);

  font-synthesis: weight style;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flex-line {
  display: flex;
  flex-flow: row nowrap;
}
.flex-multi-line {
  display: flex;
  flex-flow: row wrap;
}
.flex-column {
  display: flex;
  flex-flow: column nowrap;
}
.flex-multi-column {
  display: flex;
  flex-flow: column wrap;
}
.flex-separator {
  flex-grow: 1;
  flex-shrink: 1;
}
.growing-item {
  flex-grow: 1;
  flex-shrink: 1;
}
.static-item {
  flex-grow: 0;
  flex-shrink: 0;
}

button {
  cursor: pointer;
  padding: 0.5em 2em;
}

dialog {
  padding: 20px;
  border-radius: 10px;
  margin: auto;
}
dialog::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--colour-primary);
    background-color: var(--colour-quaternary);

    --border-dark: 1px solid var(--colour-tertiary);
    --border-light: 1px solid var(--colour-secondary);
  }
}

.hidden {
  display: none;
}
